@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #0066ff;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  top: 2.5%;
  left: 15px;
  width: 50%;
  height: 530px;
  max-width: 550px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 1.0);
  -webkit-animation-duration: 2s;
}


.chat-messages {
  position: relative;
  height: 100%;
  width: 87%;
  font-size: 1.3vh;
  margin: 1%;
  border-radius: 0px;
 

  overflow-x: hidden;
  overflow-y: hidden;
}


.chat-input {
  font-size: 1.5vh;
  position: absolute;

  top: 25.5%;
  left: 0.8%;
  width: 38%;
  max-width: 1200px;
  box-sizing: border-box;
}

.prefix {
  font-size: 1.8vh;
  position: absolute;
  margin-top: 0.8%;
  margin-left: 1.5%;
  left: 0.208%;
}

textarea {
  font-size: 1.5vh;
  display: block;
  box-sizing: border-box;
  padding-top: 1.1%;
  padding-left: 5.4%;
  padding-bottom: 1.4%;
  padding-right: 1.6%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.329);
  width: 65%;
  box-shadow: 0px 0px 1px rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0px;
  border-left: 7px solid rgb(255, 0, 0);
  height: 3.15%;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.msg {
  margin-bottom: 5px;
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.multiline {
  margin-left: 4%;
  text-indent: -1.2rem;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.329);
  box-shadow: 0px 0px 1px rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0px;
  width: 65%; 
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5%;
}

.forceHidden {
  opacity: 0.0 !important;
  visibility: none !important;
} 

.hidden {
  display: none;
}